<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>frank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5506F9A1C19D2E900BAB5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5506FAE1C19D2E900BAB5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5506FB91C19D2E900BAB5B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
